body{
    background-color: hsl(0, 0%, 10%);
    margin: 0px;

    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: hsl(0, 0%, 10%);
}

.text-box {
    display: inline-block;
    background-color: hsla(0, 0%, 100%, 0.9);
    padding: 10px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.add-button{
    background-color: hsl(125, 47%, 54%);
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.add-button:hover{
    background-color: hsl(125, 47%, 44%);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7);
}

.delete-button{
    background-color: hsl(10, 90%, 50%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.delete-button:hover{
    background-color: hsl(10, 90%, 40%);
}

.move-button{
    background-color: hsl(207, 90%, 64%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.move-button:hover{
    background-color: hsl(207, 90%, 54%);
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    color: hsla(0, 0%, 20%, 1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    background-color: hsla(0, 0%, 100%, 0.9);
    margin-right: 10px;
}

ol{
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsla(0, 0%, 100%, 0.9);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}